<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wentao.hmsmanager.mapper.CourseMapper">

    <resultMap id="CourseBean" type="com.wentao.hmsmanager.pojo.HmsCourse">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <association property="lecturer" javaType="com.wentao.hmsmanager.pojo.HmsUser">
            <id column="user_id" property="id"/>
            <result column="user_name" property="name"/>
        </association>
    </resultMap>

    <select id="selectAllByClassId" resultType="com.wentao.hmsmanager.pojo.HmsCourse">
        select *
        from hms_course hc,
             hms_class_course hcc
        where hc.`id` = hcc.`course_id`
          and class_id = #{classId}
    </select>

    <select id="selectByClassIdAndCourseId" resultMap="CourseBean">
        select hc.`id`, hc.`name`, hc.`description`, hu.`id` as user_id, hu.`name` as user_name
        from hms_course hc,
             hms_user hu,
             hms_class_course hcc
        where hc.`id` = hcc.`class_id`
          and hu.`id` = hcc.`lecturer_id`
          and hcc.`class_id` = #{classId}
          and hcc.`course_id` = #{courseId}
    </select>

</mapper>